$sass-branding-colour: #c69

// light -> primary
$light-charleston-green: hsl(153, 11%, 16%)
$light-feldgrau: hsl(173, 14%, 36%)
$light-cadet-blue: hsl(177, 18%, 56%)
$light-steel-blue: hsl(202, 27%, 50%)
$light-tuscany: hsl(14, 34%, 67%)
$light-cultured: hsl(0, 0%, 93%)

// light -> protanopia
$light-raisin-black: hsl(240, 3%, 16%)
$light-black-coral: hsl(235, 6%, 38%)
$light-cool-grey: hsl(237, 11%, 59%)
$light-rhythm: hsl(239, 18%, 52%)
$light-sage: hsl(60, 19%, 63%)
// $cultured: same as above

// light -> deuteranopia
$light-raisin-black-deuteranopia: hsl(255, 5%, 16%)
$light-independence: hsl(248, 8%, 37%)
$light-cool-grey-deuteranopia: hsl(247, 13%, 58%)
$light-dark-blue-grey: hsl(245, 19%, 51%)
$light-sage-deuteranopia: hsl(64, 22%, 65%)
// $cultured: same as above

// light -> tritanopia
$light-charleston-green-tritanopia: hsl(180, 8%, 15%)
$light-deep-space-sparkle: hsl(180, 12%, 36%)
$light-cadet-blue-tritanopia: hsl(180, 17%, 56%)
$light-cadet-blue-tritanopia-darker: hsl(179, 22%, 48%)
$light-rosy-brown: hsl(0, 29%, 67%)
// $cultured: same as above

// light -> achromatopsia
$light-jet: hsl(0, 0%, 16%)
$light-dim-grey: hsl(0, 0%, 38%)
$light-spanish-grey: hsl(0, 0%, 59%)
$light-grey-web: hsl(0, 0%, 49%)
$light-quick-silver: hsl(0, 0%, 65%)
// $cultured: same as above

// light -> protanomaly
$light-charleston-green-protanomaly: hsl(168, 6%, 15%)
$light-black-coral-protanomaly: hsl(200, 10%, 36%)
$cadet-grey: hsl(202, 15%, 57%)
$light-blue-yonder: hsl(218, 23%, 50%)
$light-khaki-web: hsl(34, 27%, 65%)
// $cultured: same as above

// light -> deuteranomaly
$light-charleston-green-deuteranomaly: hsl(168, 6%, 15%)
$light-cadet: hsl(194, 9%, 37%)
$light-pewter-blue: hsl(197, 14%, 57%)
$light-glaucous: hsl(215, 22%, 51%)
$light-khaki-web-deuteranomaly: hsl(30, 27%, 65%)
// $cultured: same as above

// light -> tritanomaly
$light-charleston-green-tritanomaly: hsl(163, 9%, 15%)
$light-deep-space-sparkle-tritanomaly: hsl(175, 13%, 36%)
$light-cadet-blue-tritanomaly: hsl(178, 17%, 56%)
$light-steel-teal: hsl(194, 25%, 49%)
$light-tuscany-tritanomaly: hsl(9, 32%, 67%)
// $cultured: same as above

// light -> achromanomaly
$light-charleston-green-achromanomaly: hsl(150, 5%, 16%)
$light-dim-grey-achromanomaly: hsl(175, 6%, 37%)
$light-morning-blue: hsl(177, 9%, 58%)
$light-slate-grey: hsl(201, 12%, 49%)
$light-silver-pink: hsl(16, 15%, 66%)
$light-cultured-achromanomaly: hsl(60, 3%, 93%)
