$sass-branding-colour: #c69

// light -> primary
$light-normal-primary: hsl(153, 11%, 16%)
$light-normal-primary-2: hsl(173, 14%, 36%)
$light-normal-primary-3: hsl(177, 18%, 56%)
$light-normal-highlight: hsl(202, 27%, 50%)
$light-normal-tertiary: hsl(14, 34%, 67%)
$light-normal-secondary: hsl(0, 0%, 93%)

// light -> protanopia
$light-protanopia-primary: hsl(240, 3%, 16%)
$light-protanopia-primary-2: hsl(235, 6%, 38%)
$light-protanopia-primary-3: hsl(237, 11%, 59%)
$light-protanopia-highlight: hsl(239, 18%, 52%)
$light-protanopia-tertiary: hsl(60, 19%, 63%)
// $secondary: same as above

// light -> deuteranopia
$light-deuteranopia-primary: hsl(255, 5%, 16%)
$light-deuteranopia-primary-2: hsl(248, 8%, 37%)
$light-deuteranopia-primary-3: hsl(247, 13%, 58%)
$light-deuteranopia-highlight: hsl(245, 19%, 51%)
$light-deuteranopia-tertiary: hsl(64, 22%, 65%)
// $secondary: same as above

// light -> tritanopia
$light-tritanopia-primary: hsl(180, 8%, 15%)
$light-tritanopia-primary-2: hsl(180, 12%, 36%)
$light-tritanopia-primary-3: hsl(180, 17%, 56%)
$light-tritanopia-highlight: hsl(179, 22%, 48%)
$light-tritanopia-tertiary: hsl(0, 29%, 67%)
// $secondary: same as above

// light -> achromatopsia
$light-achromatopsia-primary: hsl(0, 0%, 16%)
$light-achromatopsia-primary-2: hsl(0, 0%, 38%)
$light-achromatopsia-primary-3: hsl(0, 0%, 59%)
$light-achromatopsia-highlight: hsl(0, 0%, 49%)
$light-achromatopsia-tertiary: hsl(0, 0%, 65%)
// $secondary: same as above

// light -> protanomaly
$light-protanomaly-primary: hsl(168, 6%, 15%)
$light-protanomaly-primary-2: hsl(200, 10%, 36%)
$cadet-protanomaly-primary-3: hsl(202, 15%, 57%)
$light-protanomaly-highlight: hsl(218, 23%, 50%)
$light-protanomaly-tertiary: hsl(34, 27%, 65%)
// $secondary: same as above

// light -> deuteranomaly
$light-deuteranomaly-primary: hsl(168, 6%, 15%)
$light-deuteranomaly-primary-2: hsl(194, 9%, 37%)
$light-deuteranomaly-primary-3: hsl(197, 14%, 57%)
$light-deuteranomaly-highlight: hsl(215, 22%, 51%)
$light-deuteranomaly-tertiary: hsl(30, 27%, 65%)
// $secondary: same as above

// light -> tritanomaly
$light-tritanomaly-primary: hsl(163, 9%, 15%)
$light-tritanomaly-primary-2: hsl(175, 13%, 36%)
$light-tritanomaly-primary-3: hsl(178, 17%, 56%)
$light-tritanomaly-highlight: hsl(194, 25%, 49%)
$light-tritanomaly-tertiary: hsl(9, 32%, 67%)
// $secondary: same as above

// light -> achromanomaly
$light-achromanomaly-primary: hsl(150, 5%, 16%)
$light-achromanomaly-primary-2: hsl(175, 6%, 37%)
$light-achromanomaly-primary-3: hsl(177, 9%, 58%)
$light-achromanomaly-highlight: hsl(201, 12%, 49%)
$light-achromanomaly-tertiary: hsl(16, 15%, 66%)
$light-achromanomaly-secondary: hsl(60, 3%, 93%)
