@import './media.scss';

#intro {
  @media screen and (max-width: $small-screen-max) {
    text-align: center;
  }

  @media screen and (min-width: $small-screen-max) {
    text-align: left;
    margin-left: 5%;
    margin-right: 0;
    width: 50%;
  }
}
