@import './colours';

$theme-options: 'light';//, 'dark' , 'solarized';

$colourblind-options: 'normal', 'protanopia', 'deuteranopia', 'tritanopia', 'achromatopsia', 'protanomaly',
  'deuteranomaly', 'tritanomaly', 'achromanomaly';

body {
  @each $opt in $colourblind-options {
    .#{$opt} {
      @each $theme in $theme-options {
        .#{$theme} {
          $bg-colour: map-get($colours, '#{$theme}-#{$opt}-secondary');
        }
      }
    }
  }
}
