@import './colours';

$themes: 'light'; //, 'dark' , 'solarized';

$colourblind-options: 'none', 'protanopia', 'deuteranopia', 'tritanopia', 'achromatopsia', 'protanomaly',
  'deuteranomaly', 'tritanomaly', 'achromatomaly';

$bg-colour: map-get($colours, 'light-none-secondary');

body {
  @each $theme in $themes {
    .#{$theme} {
      @each $colourblindness in $colourblind-options {
        .#{$colourblindness} {
          $bg-colour: map-get($colours, '#{$theme}-#{$colourblindness}-secondary') !global;
        }
      }
    }
  }
}

body {
  background-color: $bg-colour;
}
