@import '../common/media.scss';

#build-a-matt {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $m-screen-max) {
    width: 50%;
  }

  & > img {
    border: 2px var(--accent1) dashed;
    margin: 5px 0;

    &:hover {
      border: 3px hsl(var(--accent1-hs), calc(var(--accent1-l) + 10%)) dashed;
      margin: 4px 0;
      cursor: pointer;
    }
  }
}

$width-factor: 1.6;
$head-width: 225px;
$torso-width: 450px;
$legs-width: 250px;
$feet-width: 250px;

#head {
  width: calc($head-width / $width-factor);
}

#torso {
  width: calc($torso-width / $width-factor);
}

#legs {
  width: calc($legs-width / $width-factor);
}

#feet {
  width: calc($feet-width / $width-factor);
}