@import '../common/media.scss';

div.theme-dropdown {
  @media screen and (max-width: $sm-screen-max) {
    width: 90%;
    height: 90%;
    bottom: 10%;
    right: 5% !important;
    text-align: center;
  }

  width: 20%;
  z-index: 999;

  position: absolute;
  bottom: 10%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: hsl(var(--secondary-hs), calc(var(--secondary-l) - 10%));
  border-radius: 10px;
  box-shadow: 0 6px 6px hsl(var(--primary2-hs), var(--primary2-l));

  animation: jackInTheBox 0.7s;
  &.will-hide {
    animation: backOutRight 0.6s;
  }

  &#colourblind {
    right: 4%;
  }

  &#theme {
    right: 9%;
  }

  & > h5 {
    margin-bottom: 0;
  }

  & > ul {
    list-style: none;

    & > li {
      transition: box-shadow 0.2s ease-in-out;

      margin: 0.5rem 0;
      padding: 0.5rem 1rem;
      background-color: hsl(var(--secondary-hs), calc(var(--secondary-l) - 5%));
      border-radius: 7px;
      box-shadow: 0 3px 3px 3px hsl(var(--secondary-hs), calc(var(--secondary-l) - 15%));

      &#selected {
        box-shadow: 0 3px 3px 3px hsl(var(--tertiary-hs), calc(var(--tertiary-l) - 5%));
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0 3px 3px 3px hsl(var(--tertiary-hs), var(--tertiary-l));
      }
    }
  }
}
