@import '../common/vars.scss';
@import '../common/media.scss';

div.theme-dropdown {
  @media screen and (max-width: $sm-screen-max) {
    width: 96%;
    height: 90%;
    bottom: 10%;
    right: 2% !important;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  width: 20%;

  position: absolute;
  bottom: 10%;

  display: flex;

  background-color: darken($secondary, 10%);
  border-radius: 10px;
  box-shadow: 0 6px 6px $primary2;

  &#colourblind {
    right: 2%;
  }

  &#theme {
    right: 9%;
  }

  & > ul {
    list-style: none;
    margin-block: 0;
    padding-inline-start: 0;

    & > li {
      margin-left: 0;
      margin-right: 0;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      padding: 0.5rem 1rem;
    }
  }
}
