@import '../common/vars.scss';
@import '../common/media.scss';

div.theme-dropdown {
  @media screen and (max-width: $small-screen-max) {
    width: 100%;
    height: 90%;
    bottom: 10%;
    border-radius: 0;
    box-shadow: none;
  }

  width: 15%;

  position: absolute;
  bottom: 10%;

  display: flex;

  background-color: darken($secondary, 10%);
  border-radius: 10px;
  box-shadow: 0 6px 6px $primary2;

  &#colourblind {
    right: 7%;
  }

  &#theme {
    right: 20%;
  }

  & > ul {
    list-style: none;

    & > li {
      margin: 1rem 0;
    }
  }
}
