@import '../common/vars.scss';

button.theme {
  &:hover {
    background-color: hsl(var(--secondary-hs), calc(var(--secondary-l) - 13%));
    cursor: pointer;
  }

  transition: background-color 0.2s ease-in-out;
  background-color: hsl(var(--secondary-hs), calc(var(--secondary-l) - 5%));
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 30px hsl(var(--secondary-hs), var(--secondary-l));
  color: hsl(var(--tertiary-hs), var(--tertiary-l));

  position: fixed;
  bottom: 4%;

  &#colourblind {
    right: 4rem;
  }

  &#theme {
    right: 8rem;
  }
}
