@import '../common/media.scss';

body {
  background: var(--primary3);

  & > section,
  & > main > section {
    margin: 40px 5% 5% 5%;
    padding: 0 0.5rem;
  }
}

main {
  display: flex;
  flex-wrap: nowrap;

  @media screen and (min-width: $m-screen-max) {
    flex-direction: row;
  }

  @media screen and (max-width: $m-screen-max) {
    flex-direction: column;
  }
}

#intro {
  text-align: left;

  @media screen and (min-width: $m-screen-max) {
    width: 50%;
  }
}

section > #me {
  text-align: center;
  padding: 15px;
  padding-right: 40px;

  & > img {
    border-radius: 13px;

    width: 100%;
    @media screen and (max-width: $m-screen-max) {
      display: none;
    }
  }
}

div#external-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 5px;

  button {
    border: none;
    border-radius: 2px;
    height: 55px;
    width: 55px;
    padding: 0;
    text-align: center;
    font-weight: bolder;
    background: transparent;

    &:hover {
      cursor: pointer;
      transform: perspective(20px) translateZ(2px);
    }

    &:active {
      transform: perspective(20px) translateZ(1px);
    }
  }
}

section#personal > #sections {
  display: flex;
  flex-direction: column;
  row-gap: 150px;

  & > section {
    display: flex;
    flex-direction: row;
    column-gap: 20px;

    & > .text {
      width: 100%;
    }

    & > .image {
      width: 100%;

      & > img {
        border-radius: 10px;
        border-width: 2px;
        border-color: var(--primary);
        border-style: groove;

        // must define --shadow on img element's inline style
        box-shadow: 3px 6px 3px 1px var(--shadow);
      }
    }

    @media screen and (max-width: $m-screen-max) {
      flex-direction: column;

      & > .image {
        align-items: center;
        width: 100%;

        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
