@import '../common/media.scss';

body {
  background: var(--primary3);
}

main {
  display: flex;
  flex-wrap: nowrap;

  @media screen and (min-width: $m-screen-max) {
    flex-direction: row;
  }

  @media screen and (max-width: $m-screen-max) {
    flex-direction: column;
  }
}

#intro {
  text-align: left;

  margin: 10% 5% 5% 5%;
  padding: 0 0.5rem;

  @media screen and (min-width: $m-screen-max) {
    width: 50%;
  }
}

div#external-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 5px;

  button {
    border: none;
    border-radius: 2px;
    height: 55px;
    width: 55px;
    padding: 0;
    text-align: center;
    font-weight: bolder;
    background: transparent;

    &:hover {
      cursor: pointer;
      transform: perspective(20px) translateZ(2px);
    }

    &:active {
      transform: perspective(20px) translateZ(1px);
    }
  }
}

#build-a-matt {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $m-screen-max) {
    width: 50%;
  }

  & > img {
    border: 2px var(--accent1) dashed;
    margin: -1px 0;
  }
}

$width-factor: 1.5;
$head-width: 200px;
$torso-width: 500px;
$legs-width: 350px;
$feet-width: 250px;

#head {
  width: calc($head-width / $width-factor);
}

#torso {
  width: calc($torso-width / $width-factor);
}

#legs {
  width: calc($legs-width / $width-factor);
}

#feet {
  width: calc($feet-width / $width-factor);
}
