body {
  background: linear-gradient(hsl(var(--secondary-hs), var(--secondary-l)), hsl(var(--primary3-hs), var(--primary3-l))) !important;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  padding: 0 0.5rem;
}
#intro > * {
  transform: translateY(-15vh);
}
