body {
  background: conic-gradient(#eeeeed, #8a9e9d, #596463 115deg, #596463 245deg, #8a9e9d, #eeeeed) !important;
}

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75%;
}
