body {
  background: var(--primary3);
}
body > main > section, body > header > section {
  margin: 40px 5% 5% 5%;
  padding: 0 0.5rem;
}

header {
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (min-width: 892px) {
  header {
    flex-direction: row;
  }
}
@media screen and (max-width: 892px) {
  header {
    flex-direction: column;
  }
}

#intro {
  text-align: left;
}
@media screen and (min-width: 892px) {
  #intro {
    width: 50%;
  }
}

section > #me {
  text-align: center;
  padding: 15px;
  padding-right: 40px;
}
section > #me > img {
  border-radius: 13px;
  width: 100%;
}
@media screen and (max-width: 892px) {
  section > #me > img {
    display: none;
  }
}

div#external-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 5px;
}
div#external-links button {
  border: none;
  border-radius: 2px;
  height: 55px;
  width: 55px;
  padding: 0;
  text-align: center;
  font-weight: bolder;
  background: transparent;
}
div#external-links button:hover {
  cursor: pointer;
  transform: perspective(20px) translateZ(2px);
}
div#external-links button:active {
  transform: perspective(20px) translateZ(1px);
}

main > section#personal > #sections {
  display: flex;
  flex-direction: column;
  row-gap: 150px;
}
main > section#personal > #sections > section {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
main > section#personal > #sections > section > .text {
  width: 100%;
}
main > section#personal > #sections > section > .image {
  width: 100%;
}
main > section#personal > #sections > section > .image > img {
  border-radius: 10px;
  border-width: 2px;
  border-color: var(--primary);
  border-style: groove;
  box-shadow: 3px 6px 3px 1px var(--shadow);
}
@media screen and (max-width: 892px) {
  main > section#personal > #sections > section {
    flex-direction: column;
  }
  main > section#personal > #sections > section > .image {
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
