body .light .none {
  --primary: map-get($colours, "light-none-primary");
  --primary2: map-get($colours, "light-none-primary-2");
  --primary3: map-get($colours, "light-none-primary-3");
  --highlight: map-get($colours, "light-none-highlight");
  --tertiary: map-get($colours, "light-none-tertiary");
  --secondary: map-get($colours, "light-none-secondary");
}
body .light .protanopia {
  --primary: map-get($colours, "light-protanopia-primary");
  --primary2: map-get($colours, "light-protanopia-primary-2");
  --primary3: map-get($colours, "light-protanopia-primary-3");
  --highlight: map-get($colours, "light-protanopia-highlight");
  --tertiary: map-get($colours, "light-protanopia-tertiary");
  --secondary: map-get($colours, "light-protanopia-secondary");
}
body .light .deuteranopia {
  --primary: map-get($colours, "light-deuteranopia-primary");
  --primary2: map-get($colours, "light-deuteranopia-primary-2");
  --primary3: map-get($colours, "light-deuteranopia-primary-3");
  --highlight: map-get($colours, "light-deuteranopia-highlight");
  --tertiary: map-get($colours, "light-deuteranopia-tertiary");
  --secondary: map-get($colours, "light-deuteranopia-secondary");
}
body .light .tritanopia {
  --primary: map-get($colours, "light-tritanopia-primary");
  --primary2: map-get($colours, "light-tritanopia-primary-2");
  --primary3: map-get($colours, "light-tritanopia-primary-3");
  --highlight: map-get($colours, "light-tritanopia-highlight");
  --tertiary: map-get($colours, "light-tritanopia-tertiary");
  --secondary: map-get($colours, "light-tritanopia-secondary");
}
body .light .achromatopsia {
  --primary: map-get($colours, "light-achromatopsia-primary");
  --primary2: map-get($colours, "light-achromatopsia-primary-2");
  --primary3: map-get($colours, "light-achromatopsia-primary-3");
  --highlight: map-get($colours, "light-achromatopsia-highlight");
  --tertiary: map-get($colours, "light-achromatopsia-tertiary");
  --secondary: map-get($colours, "light-achromatopsia-secondary");
}
body .light .protanomaly {
  --primary: map-get($colours, "light-protanomaly-primary");
  --primary2: map-get($colours, "light-protanomaly-primary-2");
  --primary3: map-get($colours, "light-protanomaly-primary-3");
  --highlight: map-get($colours, "light-protanomaly-highlight");
  --tertiary: map-get($colours, "light-protanomaly-tertiary");
  --secondary: map-get($colours, "light-protanomaly-secondary");
}
body .light .deuteranomaly {
  --primary: map-get($colours, "light-deuteranomaly-primary");
  --primary2: map-get($colours, "light-deuteranomaly-primary-2");
  --primary3: map-get($colours, "light-deuteranomaly-primary-3");
  --highlight: map-get($colours, "light-deuteranomaly-highlight");
  --tertiary: map-get($colours, "light-deuteranomaly-tertiary");
  --secondary: map-get($colours, "light-deuteranomaly-secondary");
}
body .light .tritanomaly {
  --primary: map-get($colours, "light-tritanomaly-primary");
  --primary2: map-get($colours, "light-tritanomaly-primary-2");
  --primary3: map-get($colours, "light-tritanomaly-primary-3");
  --highlight: map-get($colours, "light-tritanomaly-highlight");
  --tertiary: map-get($colours, "light-tritanomaly-tertiary");
  --secondary: map-get($colours, "light-tritanomaly-secondary");
}
body .light .achromatomaly {
  --primary: map-get($colours, "light-achromatomaly-primary");
  --primary2: map-get($colours, "light-achromatomaly-primary-2");
  --primary3: map-get($colours, "light-achromatomaly-primary-3");
  --highlight: map-get($colours, "light-achromatomaly-highlight");
  --tertiary: map-get($colours, "light-achromatomaly-tertiary");
  --secondary: map-get($colours, "light-achromatomaly-secondary");
}
body .dark .none {
  --primary: map-get($colours, "dark-none-primary");
  --primary2: map-get($colours, "dark-none-primary-2");
  --primary3: map-get($colours, "dark-none-primary-3");
  --highlight: map-get($colours, "dark-none-highlight");
  --tertiary: map-get($colours, "dark-none-tertiary");
  --secondary: map-get($colours, "dark-none-secondary");
}
body .dark .protanopia {
  --primary: map-get($colours, "dark-protanopia-primary");
  --primary2: map-get($colours, "dark-protanopia-primary-2");
  --primary3: map-get($colours, "dark-protanopia-primary-3");
  --highlight: map-get($colours, "dark-protanopia-highlight");
  --tertiary: map-get($colours, "dark-protanopia-tertiary");
  --secondary: map-get($colours, "dark-protanopia-secondary");
}
body .dark .deuteranopia {
  --primary: map-get($colours, "dark-deuteranopia-primary");
  --primary2: map-get($colours, "dark-deuteranopia-primary-2");
  --primary3: map-get($colours, "dark-deuteranopia-primary-3");
  --highlight: map-get($colours, "dark-deuteranopia-highlight");
  --tertiary: map-get($colours, "dark-deuteranopia-tertiary");
  --secondary: map-get($colours, "dark-deuteranopia-secondary");
}
body .dark .tritanopia {
  --primary: map-get($colours, "dark-tritanopia-primary");
  --primary2: map-get($colours, "dark-tritanopia-primary-2");
  --primary3: map-get($colours, "dark-tritanopia-primary-3");
  --highlight: map-get($colours, "dark-tritanopia-highlight");
  --tertiary: map-get($colours, "dark-tritanopia-tertiary");
  --secondary: map-get($colours, "dark-tritanopia-secondary");
}
body .dark .achromatopsia {
  --primary: map-get($colours, "dark-achromatopsia-primary");
  --primary2: map-get($colours, "dark-achromatopsia-primary-2");
  --primary3: map-get($colours, "dark-achromatopsia-primary-3");
  --highlight: map-get($colours, "dark-achromatopsia-highlight");
  --tertiary: map-get($colours, "dark-achromatopsia-tertiary");
  --secondary: map-get($colours, "dark-achromatopsia-secondary");
}
body .dark .protanomaly {
  --primary: map-get($colours, "dark-protanomaly-primary");
  --primary2: map-get($colours, "dark-protanomaly-primary-2");
  --primary3: map-get($colours, "dark-protanomaly-primary-3");
  --highlight: map-get($colours, "dark-protanomaly-highlight");
  --tertiary: map-get($colours, "dark-protanomaly-tertiary");
  --secondary: map-get($colours, "dark-protanomaly-secondary");
}
body .dark .deuteranomaly {
  --primary: map-get($colours, "dark-deuteranomaly-primary");
  --primary2: map-get($colours, "dark-deuteranomaly-primary-2");
  --primary3: map-get($colours, "dark-deuteranomaly-primary-3");
  --highlight: map-get($colours, "dark-deuteranomaly-highlight");
  --tertiary: map-get($colours, "dark-deuteranomaly-tertiary");
  --secondary: map-get($colours, "dark-deuteranomaly-secondary");
}
body .dark .tritanomaly {
  --primary: map-get($colours, "dark-tritanomaly-primary");
  --primary2: map-get($colours, "dark-tritanomaly-primary-2");
  --primary3: map-get($colours, "dark-tritanomaly-primary-3");
  --highlight: map-get($colours, "dark-tritanomaly-highlight");
  --tertiary: map-get($colours, "dark-tritanomaly-tertiary");
  --secondary: map-get($colours, "dark-tritanomaly-secondary");
}
body .dark .achromatomaly {
  --primary: map-get($colours, "dark-achromatomaly-primary");
  --primary2: map-get($colours, "dark-achromatomaly-primary-2");
  --primary3: map-get($colours, "dark-achromatomaly-primary-3");
  --highlight: map-get($colours, "dark-achromatomaly-highlight");
  --tertiary: map-get($colours, "dark-achromatomaly-tertiary");
  --secondary: map-get($colours, "dark-achromatomaly-secondary");
}

body {
  background: linear-gradient(hsl(var(--secondary), 5%), var(--primary) 3) !important;
}

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75%;
}

/*# sourceMappingURL=index.css.map */
