tbody#requests {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  position: absolute;
  top: 5%;
  left: 50%;
  width: 80vw;
  margin-left: -40vw;
  font-family: monospace;
  font-weight: 200;
  color: hsl(var(--secondary-hs), calc(var(--secondary-l) + 20%));
  border-collapse: collapse;
  z-index: -1;
}

tr#total {
  border-top: 1px solid #b9b9b9;
}

tr.request {
  --animate-duration: 0.3s;
}

td.size {
  width: 20%;
  text-align: center;
}
@media screen and (max-width: 680px) {
  td.size {
    display: none;
  }
}

td.url {
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 680px) {
  td.url {
    max-width: 80vw;
    width: 80vw;
  }
}

td.duration {
  width: 20%;
  text-align: center;
}
@media screen and (max-width: 680px) {
  td.duration {
    display: none;
  }
}
