$colours: (
  light: (
    none: (
      primary-hex: #242d29,
      primary-hs: (153, 11%),
      primary-l: 16%,
      primary-2-hex: #FF5733,
      primary-2-hs: (11, 80%),
      primary-2-l: 60%,
      primary-3-hex: #daeb47,
      primary-3-hs: (66, 80%),
      primary-3-l: 60%,
      secondary-hex: #f5f5f5,
      secondary-hs: (0, 0%),
      secondary-l: 93%,
      tertiary-hex: #7DCEA0,
      tertiary-hs: (145, 45%),
      tertiary-l: 65%,
      highlight-hex: #42A5F5,
      highlight-hs: (207, 90%),
      highlight-l: 61%,
    ),
  ),
  dark: (
    none: (
      primary-hex: #242d29,
      primary-hs: (153, 11%),
      primary-l: 16%,
      primary-2-hex: #FF5733,
      primary-2-hs: (11, 80%),
      primary-2-l: 60%,
      primary-3-hex: #daeb47,
      primary-3-hs: (66, 80%),
      primary-3-l: 60%,
      secondary-hex: #f5f5f5,
      secondary-hs: (0, 0%),
      secondary-l: 93%,
      tertiary-hex: #7DCEA0,
      tertiary-hs: (145, 45%),
      tertiary-l: 65%,
      highlight-hex: #42A5F5,
      highlight-hs: (207, 90%),
      highlight-l: 61%,
    ),
  ),
  accent: (
    none: (
      one-hex: #FF0099,
      one-hs: (324, 100%),
      one-l: 50%,
      two-hex: #33FF66,
      two-hs: (135, 100%),
      two-l: 60%,
      three-hex: #6633FF,
      three-hs: (255, 100%),
      three-l: 60%,
      four-hex: #006600,
      four-hs: (120, 100%),
      four-l: 20%,
    ),
  ),
);
