$colours: (
  light: (
    none: (
      primary-hs: (153, 11%),
      primary-l: 16%,
      primary-2-hs: (11, 80%),
      primary-2-l: 60%,
      primary-3-hs: (66, 80%),
      primary-3-l: 60%,
      highlight-hs: (202, 27%),
      highlight-l: 50%,
      tertiary-hs: (14, 34%),
      tertiary-l: 67%,
      secondary-hs: (0, 0%),
      secondary-l: 93%,
    ),
  ),
  dark: (
    none: (
      primary-hs: (152, 11%),
      primary-l: 51%,
      primary-2-hs: (173, 14%),
      primary-2-l: 22%,
      primary-3-hs: (177, 18%),
      primary-3-l: 49%,
      highlight-hs: (203, 27%),
      highlight-l: 40%,
      tertiary-hs: (14, 34%),
      tertiary-l: 40%,
      secondary-hs: (0, 0%),
      secondary-l: 13%,
    ),
  ),
  accent: (
    none: (
      one-hs: (235, 29%),
      one-l: 61%,
      two-hs: (149, 44%),
      two-l: 80%,
      three-hs: (106, 100%),
      three-l: 85%,
      four-hs: (84, 84%),
      four-l: 80%,
    ),
  ),
);
