$sass-branding-colour: #c69;

// light -> primary
$light-none-primary: hsl(153, 11%, 16%);
$light-none-primary-2: hsl(173, 14%, 36%);
$light-none-primary-3: hsl(177, 18%, 56%);
$light-none-highlight: hsl(202, 27%, 50%);
$light-none-tertiary: hsl(14, 34%, 67%);
$light-none-secondary: hsl(0, 0%, 93%);

// light -> protanopia
$light-protanopia-primary: hsl(240, 3%, 16%);
$light-protanopia-primary-2: hsl(235, 6%, 38%);
$light-protanopia-primary-3: hsl(237, 11%, 59%);
$light-protanopia-highlight: hsl(239, 18%, 52%);
$light-protanopia-tertiary: hsl(60, 19%, 63%);
$light-protanopia-secondary: $light-none-secondary;

// light -> deuteranopia
$light-deuteranopia-primary: hsl(255, 5%, 16%);
$light-deuteranopia-primary-2: hsl(248, 8%, 37%);
$light-deuteranopia-primary-3: hsl(247, 13%, 58%);
$light-deuteranopia-highlight: hsl(245, 19%, 51%);
$light-deuteranopia-tertiary: hsl(64, 22%, 65%);
$light-deuteranopia-secondary: $light-none-secondary;

// light -> tritanopia
$light-tritanopia-primary: hsl(180, 8%, 15%);
$light-tritanopia-primary-2: hsl(180, 12%, 36%);
$light-tritanopia-primary-3: hsl(180, 17%, 56%);
$light-tritanopia-highlight: hsl(179, 22%, 48%);
$light-tritanopia-tertiary: hsl(0, 29%, 67%);
$light-tritanopia-secondary: $light-none-secondary;

// light -> achromatopsia
$light-achromatopsia-primary: hsl(0, 0%, 16%);
$light-achromatopsia-primary-2: hsl(0, 0%, 38%);
$light-achromatopsia-primary-3: hsl(0, 0%, 59%);
$light-achromatopsia-highlight: hsl(0, 0%, 49%);
$light-achromatopsia-tertiary: hsl(0, 0%, 65%);
$light-achromatopsia-secondary: $light-none-secondary;

// light -> protanomaly
$light-protanomaly-primary: hsl(168, 6%, 15%);
$light-protanomaly-primary-2: hsl(200, 10%, 36%);
$light-protanomaly-primary-3: hsl(202, 15%, 57%);
$light-protanomaly-highlight: hsl(218, 23%, 50%);
$light-protanomaly-tertiary: hsl(34, 27%, 65%);
$light-protanomaly-secondary: $light-none-secondary;

// light -> deuteranomaly
$light-deuteranomaly-primary: hsl(168, 6%, 15%);
$light-deuteranomaly-primary-2: hsl(194, 9%, 37%);
$light-deuteranomaly-primary-3: hsl(197, 14%, 57%);
$light-deuteranomaly-highlight: hsl(215, 22%, 51%);
$light-deuteranomaly-tertiary: hsl(30, 27%, 65%);
$light-deuteranomaly-secondary: $light-none-secondary;

// light -> tritanomaly
$light-tritanomaly-primary: hsl(163, 9%, 15%);
$light-tritanomaly-primary-2: hsl(175, 13%, 36%);
$light-tritanomaly-primary-3: hsl(178, 17%, 56%);
$light-tritanomaly-highlight: hsl(194, 25%, 49%);
$light-tritanomaly-tertiary: hsl(9, 32%, 67%);
$light-tritanomaly-secondary: $light-none-secondary;

// light -> achromatomaly
$light-achromatomaly-primary: hsl(150, 5%, 16%);
$light-achromatomaly-primary-2: hsl(175, 6%, 37%);
$light-achromatomaly-primary-3: hsl(177, 9%, 58%);
$light-achromatomaly-highlight: hsl(201, 12%, 49%);
$light-achromatomaly-tertiary: hsl(16, 15%, 66%);
$light-achromatomaly-secondary: hsl(60, 3%, 93%);

// this map is here because sass doesnt let you referrence variables dynamically
// i.e. $secondary-colour: $light-$option-secondary
$colours: (
  'light-none-primary': $light-none-primary,
  'light-none-primary-2': $light-none-primary-2,
  'light-none-primary-3': $light-none-primary-3,
  'light-none-highlight': $light-none-highlight,
  'light-none-tertiary': $light-none-tertiary,
  'light-none-secondary': $light-none-secondary,
  'light-protanopia-primary': $light-protanopia-primary,
  'light-protanopia-primary-2': $light-protanopia-primary-2,
  'light-protanopia-primary-3': $light-protanopia-primary-3,
  'light-protanopia-highlight': $light-protanopia-highlight,
  'light-protanopia-tertiary': $light-protanopia-tertiary,
  'light-protanopia-secondary': $light-protanopia-secondary,
  'light-deuteranopia-primary': $light-deuteranopia-primary,
  'light-deuteranopia-primary-2': $light-deuteranopia-primary-2,
  'light-deuteranopia-primary-3': $light-deuteranopia-primary-3,
  'light-deuteranopia-highlight': $light-deuteranopia-highlight,
  'light-deuteranopia-tertiary': $light-deuteranopia-tertiary,
  'light-deuteranopia-secondary': $light-deuteranopia-secondary,
  'light-tritanopia-primary': $light-tritanopia-primary,
  'light-tritanopia-primary-2': $light-tritanopia-primary-2,
  'light-tritanopia-primary-3': $light-tritanopia-primary-3,
  'light-tritanopia-highlight': $light-tritanopia-highlight,
  'light-tritanopia-tertiary': $light-tritanopia-tertiary,
  'light-tritanopia-secondary': $light-tritanopia-secondary,
  'light-achromatopsia-primary': $light-achromatopsia-primary,
  'light-achromatopsia-primary-2': $light-achromatopsia-primary-2,
  'light-achromatopsia-primary-3': $light-achromatopsia-primary-3,
  'light-achromatopsia-highlight': $light-achromatopsia-highlight,
  'light-achromatopsia-tertiary': $light-achromatopsia-tertiary,
  'light-achromatopsia-secondary': $light-achromatopsia-secondary,
  'light-protanomaly-primary': $light-protanomaly-primary,
  'light-protanomaly-primary-2': $light-protanomaly-primary-2,
  'light-protanomaly-primary-3': $light-protanomaly-primary-3,
  'light-protanomaly-highlight': $light-protanomaly-highlight,
  'light-protanomaly-tertiary': $light-protanomaly-tertiary,
  'light-protanomaly-secondary': $light-protanomaly-secondary,
  'light-deuteranomaly-primary': $light-deuteranomaly-primary,
  'light-deuteranomaly-primary-2': $light-deuteranomaly-primary-2,
  'light-deuteranomaly-primary-3': $light-deuteranomaly-primary-3,
  'light-deuteranomaly-highlight': $light-deuteranomaly-highlight,
  'light-deuteranomaly-tertiary': $light-deuteranomaly-tertiary,
  'light-deuteranomaly-secondary': $light-deuteranomaly-secondary,
  'light-tritanomaly-primary': $light-tritanomaly-primary,
  'light-tritanomaly-primary-2': $light-tritanomaly-primary-2,
  'light-tritanomaly-primary-3': $light-tritanomaly-primary-3,
  'light-tritanomaly-highlight': $light-tritanomaly-highlight,
  'light-tritanomaly-tertiary': $light-tritanomaly-tertiary,
  'light-tritanomaly-secondary': $light-tritanomaly-secondary,
  'light-achromatomaly-primary': $light-achromatomaly-primary,
  'light-achromatomaly-primary-2': $light-achromatomaly-primary-2,
  'light-achromatomaly-primary-3': $light-achromatomaly-primary-3,
  'light-achromatomaly-highlight': $light-achromatomaly-highlight,
  'light-achromatomaly-tertiary': $light-achromatomaly-tertiary,
  'light-achromatomaly-secondary': $light-achromatomaly-secondary,
);
