/* cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  src: url('/fonts/raleway/Raleway.eot');
  src: url('/fonts/raleway/Raleway.eot?#iefix') format('embedded-opentype'),
    url('/fonts/raleway/Raleway.woff2') format('woff2'), url('/fonts/raleway/Raleway.woff') format('woff'),
    url('/fonts/raleway/Raleway.ttf') format('truetype'), url('/fonts/raleway/Raleway.svg#Raleway') format('svg');
  font-display: swap;
}
