@import './colours.scss';
@import './mixins.scss';

body {
  --primary-hs: #{map-get($colours, 'primary-hs')};
  --primary-l: #{map-get($colours, 'primary-l')};
  --primary: hsl(var(--primary-hs), var(--primary-l));

  --primary2-hs: #{map-get($colours, 'primary-2-hs')};
  --primary2-l: #{map-get($colours, 'primary-2-l')};
  --primary2: hsl(var(--primary2-hs), var(--primary2-l));

  --primary3-hs: #{map-get($colours, 'primary-3-hs')};
  --primary3-l: #{map-get($colours, 'primary-3-l')};
  --primary3: hsl(var(--primary3-hs), var(--primary3-l));

  --highlight-hs: #{map-get($colours, 'highlight-hs')};
  --highlight-l: #{map-get($colours, 'highlight-l')};
  --highlight: hsl(var(--highlight-hs), var(--highlight-l));

  --tertiary-hs: #{map-get($colours, 'tertiary-hs')};
  --tertiary-l: #{map-get($colours, 'tertiary-l')};
  --tertiary: hsl(var(--tertiary-hs), var(--tertiary-l));

  --secondary-hs: #{map-get($colours, 'secondary-hs')};
  --secondary-l: #{map-get($colours, 'secondary-l')};
  --secondary: hsl(var(--secondary-hs), var(--secondary-l));

  $accents: map-get($colours, 'accent');
  --accent1-hs: #{map-get($accents, 'one-hs')};
  --accent1-l: #{map-get($accents, 'one-l')};
  --accent1: hsl(var(--accent1-hs), var(--accent1-l));

  --accent2-hs: #{map-get($accents, 'two-hs')};
  --accent2-l: #{map-get($accents, 'two-l')};
  --accent2: hsl(var(--accent2-hs), var(--accent2-l));

  --accent3-hs: #{map-get($accents, 'three-hs')};
  --accent3-l: #{map-get($accents, 'three-l')};
  --accent3: hsl(var(--accent3-hs), var(--accent3-l));

  --accent4-hs: #{map-get($accents, 'four-hs')};
  --accent4-l: #{map-get($accents, 'four-l')};
  --accent4: hsl(var(--accent4-hs), var(--accent4-l));
}

body {
  background-color: hsl(var(--secondary-hs), var(--secondary-l));
  color: var(--primary);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

body,
html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: hsl(var(--highlight-hs), calc(var(--highlight-l) - 10%));
  text-decoration: none;
}

a:hover,
a:focus {
  color: hsl(var(--highlight-hs), calc(var(--highlight-l) - 20%));
  text-decoration: solid underline 1px;
  cursor: pointer;
}

.feature {
  @include featureBackground();
}
