@import './colours.scss';

$themes: 'light', 'dark';// , 'solarized';

$colourblind-options: 'none', 'protanopia', 'deuteranopia', 'tritanopia', 'achromatopsia', 'protanomaly',
  'deuteranomaly', 'tritanomaly', 'achromatomaly';

body {
  @each $theme in $themes {
    .#{$theme} {
      @each $colourblindness in $colourblind-options {
        .#{$colourblindness} {
          --primary: map-get($colours, '#{$theme}-#{$colourblindness}-primary');
          --primary2: map-get($colours, '#{$theme}-#{$colourblindness}-primary-2');
          --primary3: map-get($colours, '#{$theme}-#{$colourblindness}-primary-3');
          --highlight: map-get($colours, '#{$theme}-#{$colourblindness}-highlight');
          --tertiary: map-get($colours, '#{$theme}-#{$colourblindness}-tertiary');
          --secondary: map-get($colours, '#{$theme}-#{$colourblindness}-secondary');
        }
      }
    }
  }
}
