@import './colours.scss';

$themes: 'light', 'dark'; // , 'solarized';

$colourblind-options: 'none', 'protanopia', 'deuteranopia', 'tritanopia', 'achromatopsia', 'protanomaly',
  'deuteranomaly', 'tritanomaly', 'achromatomaly';

body {
  @each $theme in $themes {
    .#{$theme} {
      @each $colourblindness in $colourblind-options {
        .#{$colourblindness} {
          $theme-map: map-get($colours, $theme);
          $colourblind: map-get($theme-map, $colourblindness);
          --primary-hs: map-get($colourblind, 'primary-hs');
          --primary-l: map-get($colourblind, 'primary-l');
          --primary2-hs: map-get($colourblind, 'primary-2-hs');
          --primary2-l: map-get($colourblind, 'primary-2-l');
          --primary3-hs: map-get($colourblind, 'primary-3-hs');
          --highlight-hs: map-get($colourblind, 'highlight-hs');
          --highlight-l: map-get($colourblind, 'highlight-l');
          --tertiary-hs: map-get($colourblind, 'tertiary-hs');
          --tertiary-l: map-get($colourblind, 'tertiary-l');
          --secondary-hs: map-get($colourblind, 'secondary-hs');
          --secondary-l: map-get($colourblind, 'secondary-l');
        }
      }
    }
  }
}
