@import './colours.scss';

$themes: 'light'; //, 'dark' , 'solarized';

$colourblind-options: 'none', 'protanopia', 'deuteranopia', 'tritanopia', 'achromatopsia', 'protanomaly',
  'deuteranomaly', 'tritanomaly', 'achromatomaly';

$primary-colour: none;
$primary-2-colour: none;
$primary-3-colour: none;
$highlight-colour: none;
$tertiary-colour: none;
$secondary-colour: none;

body {
  @each $theme in $themes {
    .#{$theme} {
      @each $colourblindness in $colourblind-options {
        .#{$colourblindness} {
          $primary-colour: map-get($colours, '#{$theme}-#{$colourblindness}-primary') !global;
          $primary-2-colour: map-get($colours, '#{$theme}-#{$colourblindness}-primary-2') !global;
          $primary-3-colour: map-get($colours, '#{$theme}-#{$colourblindness}-primary-3') !global;
          $highlight-colour: map-get($colours, '#{$theme}-#{$colourblindness}-highlight') !global;
          $tertiary-colour: map-get($colours, '#{$theme}-#{$colourblindness}-tertiary') !global;
          $secondary-colour: map-get($colours, '#{$theme}-#{$colourblindness}-secondary') !global;
        }
      }
    }
  }
}
