body .light .none {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .light .protanopia {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .light .deuteranopia {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .light .tritanopia {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .light .achromatopsia {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .light .protanomaly {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .light .deuteranomaly {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .light .tritanomaly {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .light .achromatomaly {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .dark .none {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .dark .protanopia {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .dark .deuteranopia {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .dark .tritanopia {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .dark .achromatopsia {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .dark .protanomaly {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .dark .deuteranomaly {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .dark .tritanomaly {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .dark .achromatomaly {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}

button.theme {
  transition: background-color 0.2s ease-in-out;
  background-color: hsl(var(--secondary), 5%);
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 30px #fff;
  position: fixed;
  bottom: 4%;
}
button.theme:hover {
  background-color: hsl(var(--secondary), 13%);
  cursor: pointer;
}
button.theme#colourblind {
  right: 4rem;
}
button.theme#theme {
  right: 8rem;
}

/*# sourceMappingURL=theme.button.css.map */
