button.theme {
  transition: background-color 0.2s ease-in-out;
  background-color: hsl(var(--secondary-hs), calc(var(--secondary-l) - 5%));
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 30px var(--secondary);
  color: var(--tertiary);
  position: fixed;
  bottom: 4%;
}
button.theme:hover {
  background-color: hsl(var(--secondary-hs), calc(var(--secondary-l) - 13%));
  cursor: pointer;
}
button.theme#colourblind-theme {
  right: 4rem;
}
button.theme#theme {
  right: 8rem;
}
