:root {
  --primary-hs: 153, 11%;
  --primary-l: 16%;
  --primary2-hs: 173, 14%;
  --primary2-l: 36%;
  --primary3-hs: 177, 18%;
  --primary3-l: 56%;
  --highlight-hs: 202, 27%;
  --highlight-l: 50%;
  --tertiary-hs: 14, 34%;
  --tertiary-l: 67%;
  --secondary-hs: 0, 0%;
  --secondary-l: 93%;
}

body.light.none {
  --primary-hs: 153, 11%;
  --primary-l: 16%;
  --primary2-hs: 173, 14%;
  --primary2-l: 36%;
  --primary3-hs: 177, 18%;
  --primary3-l: 56%;
  --highlight-hs: 202, 27%;
  --highlight-l: 50%;
  --tertiary-hs: 14, 34%;
  --tertiary-l: 67%;
  --secondary-hs: 0, 0%;
  --secondary-l: 93%;
}
body.light.protanopia {
  --primary-hs: 240, 3%;
  --primary-l: 16%;
  --primary2-hs: 235, 6%;
  --primary2-l: 38%;
  --primary3-hs: 237, 11%;
  --primary3-l: 59%;
  --highlight-hs: 239, 18%;
  --highlight-l: 52%;
  --tertiary-hs: 60, 19%;
  --tertiary-l: 63%;
  --secondary-hs: 0, 0%;
  --secondary-l: 93%;
}
body.light.deuteranopia {
  --primary-hs: 255, 5%;
  --primary-l: 16%;
  --primary2-hs: 248, 8%;
  --primary2-l: 37%;
  --primary3-hs: 247, 13%;
  --primary3-l: 58%;
  --highlight-hs: 245, 19%;
  --highlight-l: 51%;
  --tertiary-hs: 64, 22%;
  --tertiary-l: 65%;
  --secondary-hs: 0, 0%;
  --secondary-l: 93%;
}
body.light.tritanopia {
  --primary-hs: 180, 8%;
  --primary-l: 15%;
  --primary2-hs: 180, 12%;
  --primary2-l: 36%;
  --primary3-hs: 180, 17%;
  --primary3-l: 56%;
  --highlight-hs: 179, 22%;
  --highlight-l: 48%;
  --tertiary-hs: 0, 29%;
  --tertiary-l: 67%;
  --secondary-hs: 0, 0%;
  --secondary-l: 93%;
}
body.light.achromatopsia {
  --primary-hs: 0, 0%;
  --primary-l: 16%;
  --primary2-hs: 0, 0%;
  --primary2-l: 38%;
  --primary3-hs: 0, 0%;
  --primary3-l: 59%;
  --highlight-hs: 0, 0%;
  --highlight-l: 49%;
  --tertiary-hs: 0, 0%;
  --tertiary-l: 65%;
  --secondary-hs: 0, 0%;
  --secondary-l: 93%;
}
body.light.protanomaly {
  --primary-hs: 168, 6%;
  --primary-l: 15%;
  --primary2-hs: 200, 10%;
  --primary2-l: 36%;
  --primary3-hs: 202, 15%;
  --primary3-l: 57%;
  --highlight-hs: 218, 23%;
  --highlight-l: 50%;
  --tertiary-hs: 34, 27%;
  --tertiary-l: 65%;
  --secondary-hs: 0, 0%;
  --secondary-l: 93%;
}
body.light.deuteranomaly {
  --primary-hs: 168, 6%;
  --primary-l: 15%;
  --primary2-hs: 194, 9%;
  --primary2-l: 37%;
  --primary3-hs: 197, 14%;
  --primary3-l: 57%;
  --highlight-hs: 215, 22%;
  --highlight-l: 51%;
  --tertiary-hs: 30, 27%;
  --tertiary-l: 65%;
  --secondary-hs: 0, 0%;
  --secondary-l: 93%;
}
body.light.tritanomaly {
  --primary-hs: 163, 9%;
  --primary-l: 15%;
  --primary2-hs: 175, 13%;
  --primary2-l: 36%;
  --primary3-hs: 178, 17%;
  --primary3-l: 56%;
  --highlight-hs: 194, 25%;
  --highlight-l: 49%;
  --tertiary-hs: 9, 32%;
  --tertiary-l: 67%;
  --secondary-hs: 0, 0%;
  --secondary-l: 93%;
}
body.light.achromatomaly {
  --primary-hs: 150, 5%;
  --primary-l: 16%;
  --primary2-hs: 175, 6%;
  --primary2-l: 37%;
  --primary3-hs: 177, 9%;
  --primary3-l: 58%;
  --highlight-hs: 201, 12%;
  --highlight-l: 49%;
  --tertiary-hs: 16, 15%;
  --tertiary-l: 66%;
  --secondary-hs: 60, 3%;
  --secondary-l: 93%;
}
body.dark.none {
  --primary-hs: 240, 3%;
  --primary-l: 16%;
  --primary2-hs: 173, 14%;
  --primary2-l: 36%;
  --primary3-hs: 177, 18%;
  --primary3-l: 56%;
  --highlight-hs: 202, 27%;
  --highlight-l: 50%;
  --tertiary-hs: 14, 34%;
  --tertiary-l: 67%;
  --secondary-hs: 0, 0%;
  --secondary-l: 13%;
}
body.dark.protanopia {
  --primary-hs: 240, 3%;
  --primary-l: 16%;
  --primary2-hs: 235, 6%;
  --primary2-l: 38%;
  --primary3-hs: 237, 11%;
  --primary3-l: 59%;
  --highlight-hs: 239, 18%;
  --highlight-l: 52%;
  --tertiary-hs: 60, 19%;
  --tertiary-l: 63%;
  --secondary-hs: 0, 0%;
  --secondary-l: 0%;
}
body.dark.deuteranopia {
  --primary-hs: 255, 5%;
  --primary-l: 16%;
  --primary2-hs: 248, 8%;
  --primary2-l: 37%;
  --primary3-hs: 247, 13%;
  --primary3-l: 58%;
  --highlight-hs: 245, 19%;
  --highlight-l: 51%;
  --tertiary-hs: 64, 22%;
  --tertiary-l: 65%;
  --secondary-hs: 0, 0%;
  --secondary-l: 0%;
}
body.dark.tritanopia {
  --primary-hs: 180, 8%;
  --primary-l: 15%;
  --primary2-hs: 180, 12%;
  --primary2-l: 36%;
  --primary3-hs: 180, 17%;
  --primary3-l: 56%;
  --highlight-hs: 179, 22%;
  --highlight-l: 48%;
  --tertiary-hs: 0, 29%;
  --tertiary-l: 67%;
  --secondary-hs: 0, 0%;
  --secondary-l: 0%;
}
body.dark.achromatopsia {
  --primary-hs: 0, 0%;
  --primary-l: 16%;
  --primary2-hs: 0, 0%;
  --primary2-l: 38%;
  --primary3-hs: 0, 0%;
  --primary3-l: 59%;
  --highlight-hs: 0, 0%;
  --highlight-l: 49%;
  --tertiary-hs: 0, 0%;
  --tertiary-l: 65%;
  --secondary-hs: 0, 0%;
  --secondary-l: 0%;
}
body.dark.protanomaly {
  --primary-hs: 168, 6%;
  --primary-l: 15%;
  --primary2-hs: 200, 10%;
  --primary2-l: 36%;
  --primary3-hs: 202, 15%;
  --primary3-l: 57%;
  --highlight-hs: 218, 23%;
  --highlight-l: 50%;
  --tertiary-hs: 34, 27%;
  --tertiary-l: 65%;
  --secondary-hs: 0, 0%;
  --secondary-l: 0%;
}
body.dark.deuteranomaly {
  --primary-hs: 168, 6%;
  --primary-l: 15%;
  --primary2-hs: 194, 9%;
  --primary2-l: 37%;
  --primary3-hs: 197, 14%;
  --primary3-l: 57%;
  --highlight-hs: 215, 22%;
  --highlight-l: 51%;
  --tertiary-hs: 30, 27%;
  --tertiary-l: 65%;
  --secondary-hs: 0, 0%;
  --secondary-l: 0%;
}
body.dark.tritanomaly {
  --primary-hs: 163, 9%;
  --primary-l: 15%;
  --primary2-hs: 175, 13%;
  --primary2-l: 36%;
  --primary3-hs: 178, 17%;
  --primary3-l: 56%;
  --highlight-hs: 194, 25%;
  --highlight-l: 49%;
  --tertiary-hs: 9, 32%;
  --tertiary-l: 67%;
  --secondary-hs: 0, 0%;
  --secondary-l: 0%;
}
body.dark.achromatomaly {
  --primary-hs: 150, 5%;
  --primary-l: 16%;
  --primary2-hs: 175, 6%;
  --primary2-l: 37%;
  --primary3-hs: 177, 9%;
  --primary3-l: 58%;
  --highlight-hs: 201, 12%;
  --highlight-l: 49%;
  --tertiary-hs: 16, 15%;
  --tertiary-l: 66%;
  --secondary-hs: 150, 5%;
  --secondary-l: 16%;
}

button.theme {
  transition: background-color 0.2s ease-in-out;
  background-color: hsl(var(--secondary-hs), calc(var(--secondary-l) - 5%));
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 30px hsl(var(--secondary-hs), var(--secondary-l));
  color: hsl(var(--tertiary-hs), var(--tertiary-l));
  position: fixed;
  bottom: 4%;
}
button.theme:hover {
  background-color: hsl(var(--secondary-hs), calc(var(--secondary-l) - 13%));
  cursor: pointer;
}
button.theme#colourblind {
  right: 4rem;
}
button.theme#theme {
  right: 8rem;
}

/*# sourceMappingURL=theme.button.css.map */
