body .light .none {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .light .protanopia {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .light .deuteranopia {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .light .tritanopia {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .light .achromatopsia {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .light .protanomaly {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .light .deuteranomaly {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .light .tritanomaly {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .light .achromatomaly {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .dark .none {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .dark .protanopia {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .dark .deuteranopia {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .dark .tritanopia {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .dark .achromatopsia {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .dark .protanomaly {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .dark .deuteranomaly {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .dark .tritanomaly {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}
body .dark .achromatomaly {
  --primary-hs: map-get($colourblind, "primary-hs");
  --primary-l: map-get($colourblind, "primary-l");
  --primary2-hs: map-get($colourblind, "primary-2-hs");
  --primary2-l: map-get($colourblind, "primary-2-l");
  --primary3-hs: map-get($colourblind, "primary-3-hs");
  --highlight-hs: map-get($colourblind, "highlight-hs");
  --highlight-l: map-get($colourblind, "highlight-l");
  --tertiary-hs: map-get($colourblind, "tertiary-hs");
  --tertiary-l: map-get($colourblind, "tertiary-l");
  --secondary-hs: map-get($colourblind, "secondary-hs");
  --secondary-l: map-get($colourblind, "secondary-l");
}

div.theme-dropdown {
  width: 20%;
  position: absolute;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(var(--secondary), 10%);
  border-radius: 10px;
  box-shadow: 0 6px 6px var(--primary) 2;
  animation: jackInTheBox 0.7s;
}
@media screen and (max-width: 680px) {
  div.theme-dropdown {
    width: 90%;
    height: 90%;
    bottom: 10%;
    right: 5% !important;
    text-align: center;
  }
}
div.theme-dropdown.will-hide {
  animation: backOutRight 0.6s;
}
div.theme-dropdown#colourblind {
  right: 4%;
}
div.theme-dropdown#theme {
  right: 11%;
}
div.theme-dropdown > ul {
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;
}
div.theme-dropdown > ul > li {
  transition: box-shadow 0.2s ease-in-out;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  background-color: hsl(var(--secondary), 5%);
  border-radius: 7px;
  box-shadow: 0 3px 3px 3px hsl(var(--secondary), 15%);
}
div.theme-dropdown > ul > li#selected {
  box-shadow: 0 3px 3px 3px hsl(var(--tertiary), 5%);
}
div.theme-dropdown > ul > li:hover {
  cursor: pointer;
  box-shadow: 0 3px 3px 3px var(--tertiary);
}

/*# sourceMappingURL=theme.dropdown.css.map */
